.hero {
  background-color: $bg-color;
  color: $text-color;
  min-height: 92vh;
  padding-top: 18rem;
}

.showcase {
  background-color: $bg-color;
  &__container {
    max-width: 136rem;
    margin: 0 auto;
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }
}
