.contributors {
  &__container {
    @include container(136rem);
    @include flex(5.7rem);
  }

  &__title {
    @include titleStyles;
  }

  &__grid {
    @include three-column-grid(6.6rem, 23rem);
  }

  &__item {
    @include flex(3rem);
    // text-align: center;
    &-content {
      @include flex(3px);
    }
    &:last-child {
      .contributors__item-content {
        @include flex(2rem);
      }
    }
  }

  &__image {
    display: block;
    width: 25rem;
    height: 25rem;
  }

  &__name {
    font-family: $font-heading;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    font-weight: 700;

    &--highlight {
      color: $accent-color;
    }
  }

  &__role {
    @include text-small;
  }

  &__footer {
    max-width: 69rem;
  }
  &__footer-text {
    font-family: $font-heading;
    font-size: 5.4rem;
    line-height: 7.7rem;
    font-weight: 700;
  }
}
