.founder {
  &__container {
    @include container(136rem);
    display: flex;
    align-items: center;
    gap: 4.1rem;
  }

  &__image-wrapper {
    flex: 0 0 auto;
  }

  &__image {
    display: block;
    height: auto;
    object-fit: cover;
  }

  &__content {
    @include flex(4.8rem);
  }

  &__name {
    font-family: $font-heading;
    font-size: 5.4rem;
    line-height: 7.7rem;
    font-weight: 700;
    color: $accent-color;
  }

  &__role {
    font-family: $font-heading;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    margin-bottom: 3rem;
  }
  &__quote {
    position: relative;
    padding-left: 7rem;

    &::before {
      content: url("/assets/quote.svg");
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 5.3rem;
      height: 3.8rem;
    }
  }

  &__text {
    @include textStyles(-0.04em);
    max-width: 78rem;
  }

  &__decor {
    @include decor;
  }
  &__decor--4 {
    top: -10rem;
    right: 62rem;
  }
  &__decor--13 {
    top: 33rem;
    left: 38rem;
  }
  &__decor--14 {
    bottom: -15rem;
    right: -15rem;
  }
}
