.hero {
  &__container {
    @include container(150rem);
    position: relative;
  }

  &__title {
    font-family: $font-heading;
    font-size: 11.3rem;
    line-height: 13.2rem;
    font-weight: 300;

    & .hero__highlight {
      color: $accent-color;
    }
  }

  &__group {
    position: absolute;
    top: 30rem;
    max-width: 72rem;
    right: -5rem;
    @include flex(2.9rem);

    .hero__subtitle {
      text-align: left;
      @include textStyles(-0.04em);
    }
  }
}
