.info {
  &__title {
    @include titleStyles;
  }
  & .info__highlight {
    color: $accent-color;
  }

  &__container {
    @include container(136rem);
    @include flex(3rem);
  }
  &__content {
    @include flex(13rem);
  }

  &__text {
    max-width: 90rem;
    @include flex(3rem);
    @include textStyles(-0.04em);
  }
  &__visual--split {
    display: flex;
  }
  &__slice {
    flex: 1;
    img {
      display: block;
    }
  }

  &__diagram {
    display: block;
    width: 100%;
    height: auto;
  }
  &__decor {
    @include decor;
  }
  &__decor--4 {
    top: 18rem;
    right: 24rem;
  }

  &__decor--6 {
    top: -20rem;
    right: -26rem;
  }
  &__decor--7 {
    top: 15rem;
    right: -14rem;
  }
  &__decor--8 {
    bottom: 20rem;
    left: -26rem;
  }
}
