.info {
  &__title {
    @include titleStyles;
  }
  & .info__highlight {
    color: $accent-color;
  }

  &__container {
    @include container(136rem);
  }
  &__content {
    @include flex(13rem);
  }

  &__text {
    max-width: 90rem;
    @include flex(3rem);
    @include textStyles(-0.04em);
  }

  &__diagram {
    display: block;
    width: 100%;
    height: auto;
  }
}
