.news {
  &__container {
    @include container(136rem);
    @include flex(5rem);
    position: relative;
  }

  &__title {
    @include titleStyles;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }

  &__card {
    @include flex(2.2rem);
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__date {
    @include text-small;
  }

  &__headline {
    font-family: $font-heading;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0.02em;
    font-weight: 700;
  }

  &__summary {
    @include text-small;
  }

  &__read-more {
    font-size: 1.8rem;
    color: $accent-color;
    font-family: $font-heading;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 14rem;
    &:hover {
      text-decoration: underline;
    }
  }

  &__cta {
    margin-left: -2.2rem;
  }

  &__decor {
    position: absolute;
    pointer-events: none;
    width: auto;
    height: auto;
  }
  &__decor--4 {
    top: -6rem;
    right: 46rem;
  }
  &__decor--6 {
    top: -16rem;
    left: -26rem;
  }
  &__decor--15 {
    top: -20rem;
    right: -15rem;
  }
}
