.why-us {
  &__container {
    position: relative;
    @include container(136rem);
    @include flex(8.2rem);
  }

  &__title {
    @include titleStyles;

    &-accent {
      color: $accent-color;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15rem;
    column-gap: 10rem;
  }

  &__item {
    @include flex(3rem);
  }

  &__item-title {
    font-size: 4.4rem;
    font-family: $font-heading;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0.02em;
  }

  &__item-text {
    @include textStyles(-0.04em);
  }

  &__decor {
    position: absolute;
    pointer-events: none;
    width: auto;
    height: auto;
  }
  &__decor--9 {
    top: -16rem;
    right: -12rem;
  }
  &__decor--10 {
    top: 45rem;
    left: 32rem;
  }
  &__decor--11 {
    top: 33rem;
    right: -27rem;
  }
  &__decor--12 {
    bottom: -20rem;
    left: -16rem;
  }
}
