$bg-color: #361281;
$text-color: #ffffff;
$accent-color: #d4ff00;
$color-black: #000000;
$color-white1: #f6f6f6;
$color-white2: #e6e6e6;

$font-heading: "Aspergit", sans-serif;
$font-text: "Futura", sans-serif;
